

.container {
    width: 100%;
    max-width: 5000px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 7px 9px 15px black inset;
}

header {
    background: #FAFF50;
    margin: 0;
    /* position: fixed; */
}

header h1 {
    color: #0E1C57;
    padding: 15px 0 4px;
    text-align: center;
    margin: auto;
    font-family: cursive;
    font-size: 35px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: -0.5em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
