/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

/*code*/

body {
    background-color: #fafafa;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    width: 100%;
    max-width: 5000px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    display: inline-flex;
  width: 100%;
  color: white;
  text-align: center;
}

.navbar{
    display: block;
    margin:auto;
    padding: 0;
    text-align: center;
    list-style: none;
    margin-bottom: 5px;
}

.navbar li {
   display: inline-block;
  padding: 20px;
}

.navbar li a {
    color: #565957;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    font-weight: 900;
}

.nav1 {
    margin-right: 1%;
}

.nav2 {
    margin-left: 0.5%;
}

.img_header {
    width: 130px;
    height: 130px;
}

.hide {
    background-color: gray;
  padding: 16px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
    .navbar-nav li {
        width: 100%;
        padding: 16px;
        text-align: left;
    }

    .navbar {
        display: none;
    }

    .hide {
    border: 4px solid #ccc;
    height: 25px;
    display: block;
    border-radius: 20px;
    }

    .img_header {
        display:block;
        margin:auto;
    }
}

.fa-bars:before {

    content: "\f0c9";
    color: black;
}


.main h2 {
    margin-top: 20px;
    font-size: 48px;
    color: #424744;
    text-align: center;
    margin-bottom: 0;
}

.main h5 {
    color: #c9c9c9;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 9px;
}

.main h5 b {
    color: #a8a8a8;
}

.main {
    text-align: center;
    color: #424744;
}

.main h3 {
    font-size: 25px;
    margin: 16px;
}

.main p {
    margin: 5px;
}